*{margin:0;padding:0}
body{
    font-size:12px;
    font-family:"Microsoft YaHei","微软雅黑";
    background: #f8f8f8;
}
html{width:100%;height:auto;font-family:"Microsoft YaHei","微软雅黑";}
/*body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYiMicro Hei",sans-serif;
}*/
ul,ol{list-style:none}
img{border:0;outline-width:0;}
a{text-decoration: none;outline: none;color:#454545;}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
i{font-style:normal}
u{text-decoration:none}
.img-responsive{display:block;max-width:100%;height:auto}
.fl{float:left}
.fr{float:right}
.clearfix:before,.clearfix:after{
    content:"";
    height:0;
    clear:both;
    display: block;
    visibility: hidden;
}
.clearfix{
    zoom:1;
}
.clear{
    clear: both;
}
input,textarea,select{
    outline:none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
textarea {
    resize: none;
    overflow: auto;
}
input,select{
    outline: none;
    border:none;
}
a,button{cursor:pointer;}
/*取消默认*/
dt{
    font-weight: normal;
}
dt + dd {
    margin-top: 0;
}
p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure {
    margin:0;
}
ul, ol {
    padding-left:0;
}
body{
    margin:0 auto;
}
.content{
    width:1200px;
    margin:0 auto;
}
/*头部*/
header{

}
header .logo{
    margin-top: 33px;
    margin-bottom: 38px;
}
header #search{
    width:530px;
    height:32px;
    border:1px solid #1eb1e6;
    position: relative;
}
header .search{
    margin-top: 40px;
    margin-left: 255px;
    height: 32px;
    line-height: 32px;
}
header #search .button{
    text-align: center;
    line-height: 32px;
    background:#1eb1e6 ;
    font-size: 14px;
    color:#fff;
    width:90px;
    height:32px;
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
}
header #search select{
    padding-left:10px;
    outline: none;
    border:none;
    margin-top: 7px;
    background: #f8f8f8;
}
header #search input{
    background: #f8f8f8;
}
header .tag a{
    margin-right: 10px;
    color: #999999;
}
/*底部*/
footer{
    background: #2e2e2e;
    color:#b5b3b3;
}
footer .footer-wrap{
    width:1200px;
    margin:0 auto;
}
footer .footer-list{
    float: left;
    width:300px;
    padding-top:20px;
    padding-bottom:28px;
}
footer .footer-list dd img{
    width:112px;
    height: 110px;
}
footer .footer-list a{
    color:#b5b3b3;
}
footer .footer-list p{
    font-size: 22px;
    margin-bottom: 20px;
}
footer .footer-list li{
    line-height:22px;
}
footer .footer-list dl{
    float: left;
    text-align: center;
}
footer .footer-list dl:first-child{
    margin-right: 15px;
}
footer .footer-list dt{
    margin-bottom: 20px;
    font-size: 22px;
    color:#b5b3b3;
}
footer .ban{
    background: #212121;
    text-align: center;
    height:62px;
    line-height:62px;
}






























































































































































