.big-wrap{
    width:1200px;
    margin:0 auto;
}
/*更多*/
.more {
    width: 78px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    text-align: center;
    margin-top: 15px;
    margin-right: 20px;
}
.more a {
    display: block;
    width: 100%;
    color: #000000;
}
.more a img{
    vertical-align: middle;
}
.hot-titles{
    height: 60px;
    background: #fff;
    line-height: 60px;
    position: relative;
}
.hot-titles p span:first-child {
    width: 5px;
    height: 24px;
    display: inline-block;
    background: #1eb3e6;
    margin-left: 20px;
    margin-right: 25px;
    position: absolute;
    top: 19px;
}
.hot-titles p span:nth-child(2) {
    font-size: 20px;
    color: #000;
    margin-left: 40px;
}
.hot-titles p span:last-child {
    font-size: 16px;
    color: #555555;
    margin-left: 20px;
}
/*banner*/
.nav-wrap{
    height: 48px;
    line-height: 48px;
    border-bottom: 2px solid #1eb1e6;
}
.nav-wrap p,.nav-wrap ul li{
    float: left;
}
.nav-wrap .service-type{
    background: #1eb1e6;
    color:#fff;
    font-weight: bold;
    width:200px;
    text-align: center;
}
.nav-wrap ul li a{
    font-size: 14px;
    font-weight: bold;
}
.nav-wrap  ul li{
    width:111px;
    text-align: center;
}
/*导航下各栏目*/
.service-item {
    width:1200px;
    /*padding:0 12px;*/
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 20px;
    position:relative;
}
.service-item .service-title{
    background: #1d9fce;
    width:200px;
}
.service-item .service-title li.active{
    background: #fff;
    color:#1d9fce;
}
.service-item .service-title li{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    padding:0 12px;
}
.service-item ul li span:nth-child(2n){
    margin-left: 15px;
    margin-right: 70px;
}
/*.service-detail{*/
    /*background: #fff;*/
    /*width: 710px;*/
/*}*/
.service-item .service-list{
    padding-left: 35px;
    /* margin-left: 35px; */
    /* margin-top: 24px; */
    background: #fff;
    width: 675px;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 10;
}
.service-list .list-detail a{
    margin:0 30px 0 0;
    display: inline-block;
}
h4{
    color:#1eb1e6;
}
.service-item li .service-list{
    display: none;
}


/*banner轮播*/
.slideBox{ width:700px; height:432px; overflow:hidden; position:relative;margin-left: 10px;}
.slideBox .hd{ height:16px; overflow:hidden; position:absolute; right:5px; bottom:10px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:6px;  width:10px; height:10px;background:#fff; cursor:pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }
.slideBox .hd ul li.on{ background:#000;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:700px; height:432px; display:block;  }
/* 左右按钮 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
/*滚屏新闻*/
/* 本例子css */
.txtMarquee-top{ width:280px;  overflow:hidden; position:relative;  }
.txtMarquee-top .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
/*.txtMarquee-top .hd .prev,.txtMarquee-top .hd .next{ display:block;  width:9px; height:5px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;*/
    /*cursor:pointer; background:url("../images/arrow.png") 0 -100px no-repeat;}*/
.txtMarquee-top .hd .next{ background-position:0 -140px;  }
.txtMarquee-top .hd .prevStop{ background-position:-60px -100px;  }
.txtMarquee-top .hd .nextStop{ background-position:-60px -140px;  }
.txtMarquee-top .bd{ padding:15px;  }
.txtMarquee-top .infoList li{ height:30px; line-height:30px;overflow: hidden }
.txtMarquee-top .infoList li .date{ float:right; color:#999;  }
.txtMarquee-top .infoList li a{
    color:#000;
    font-size: 14px;
}
/*新闻*/
.news #login{
    width:280px;
    height:180px;
    position: relative;
    border-bottom: 1px solid #efefef;
}
 .news #login .img-logo{
     height:98px;
     position: absolute;
     top:50%;
     left:50%;
     -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
     -ms-transform: translate(-50%,-50%);
     -o-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);

 }
 .news #login .login-button{
     cursor: pointer;
     text-align: center;
     background: #dc3943;
     color:#fff;
     font-size: 16px;
     width:100px;
     height: 36px;
     line-height: 36px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     position: absolute;
     bottom:30px;
     left:50%;
     -webkit-transform: translate(-50%,0);
     -moz-transform: translate(-50%,0);
     -ms-transform: translate(-50%,0);
     -o-transform: translate(-50%,0);
     transform: translate(-50%,0);
 }
 .news .news-theme{
     margin-top: 28px;
     margin-left: 15px;
     height: 25px;
     line-height: 25px;
     position: relative;
 }
 .news .news-theme span:first-child{
     width:5px;
     height:20px;
     background:#dc3943;
     display: inline-block;
     margin-right: 15px;

 }
 .news .news-theme span:last-child{
     font-weight: bold;
     font-size: 16px;
     color:#000;
     position: absolute;
     top:-3px;
 }
 /*热门项目*/
.hot-project .hot-title{
    height: 60px;
    background: #fff;
    line-height: 60px;
    position: relative;
    margin-bottom: 5px;
}
.hot-project .hot-title p span:first-child{
    width:5px;
    height:24px;
    display: inline-block;
    background:#1eb3e6;
    margin-left: 20px;
    margin-right: 25px;
    position: absolute;
    top:19px;
}
.hot-project .hot-title p span:nth-child(2){
    font-size: 20px;
    color:#000;
    margin-left: 40px;
}
.hot-project .hot-title p span:last-child{
    font-size: 16px;
    color: #555555;
    margin-left: 20px;
}
.project-wrap .project-list{
    width:256px;
    margin-right:5px;
    margin-bottom: 5px;
    height:110px;
    background: #fff;
    padding:25px 20px 15px;
}
.project-wrap .project-list:nth-child(4n){
    margin-right: 0;
}
.project-wrap .project-list .pro-title p:first-child{
    font-size: 18px;
    width:180px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.project-list .pro-title p:last-child{
    font-size: 12px;
    background: #1eb1e6;
    color:#fff;
    padding:6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.project-list .detail{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 15px;
}
.project-list .result-detail{
    font-size: 14px;
}
/*云空间*/
.hot-space{
    margin-top: 30px;
}
.hot-space .space-wrap{
    position: relative;
    width:296px;
    height:215px;
    overflow: hidden;
    margin-right:4px;
    margin-bottom: 4px;
    float: left;
}
.hot-space .space-wrap:last-child{
    margin-right: 0;
}
 .space-wrap .back-img{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:44px 44px 35px;
    position: absolute;
    left:0;
    width:100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    bottom:0px;
    height:0px;
    opacity: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#hot-space .active .back-img{
    height:215px;
    opacity: 1;
}

.space-wrap .back-img .space-title{
    color:#fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}
.space-wrap .back-img .description{
    font-size: 14px;
    color:#fff;
    margin-bottom: 15px;
}
.space-wrap .back-img .space-button{
   background: #1eb1e6;
    color:#fff;
    padding:6px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.hot-space .fron-img{
    width:296px;
    height: 215px;
}
.hot-space .fron-img img{
    width:100%;
    height:215px;
}
.hot-space .fron-title{
    position: absolute;
    bottom:0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    background: rgba(0,0,0,0.6);
    width: 100%;
    text-align: center;
}
.hot-space .space-titles{
    width:596px;
    background: #fff;
    height:215px;
    margin-right: 4px;
}
.hot-space .space-titles p:first-child{
    margin-top: 80px;
}
.hot-space .space-titles p{
    font-size: 20px;
    margin:0px 0 22px 140px;
}
/*热门投资人*/
.invest{
    margin-top: 30px;
    background: #fff;
    padding-bottom:20px;
}

 .invest-con .invest-list .img-person{
     width:82px;
     height: 82px;
     border:1px solid #d8d8d8;
 }
.invest-con{
    background: #fff;
    width:1160px;
    margin:0 auto;
    border-top:1px solid #d8d8d8;
    border-left:1px solid #d8d8d8;
    border-right:1px solid #d8d8d8;
}
 .invest-con .invest-list{
     width:290px;
     float: left;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding:20px;
     border-right:1px solid #d8d8d8;
     border-bottom:1px solid #d8d8d8;
 }
 .invest-con .invest-list:nth-child(4n){
     border-right: none;
 }
 .invest-con .per-description{
     width:154px;
     margin-left: 10px;
 }
 .invest-con .per-description p:first-child{
     font-size: 14px;
     color:#000;
     font-weight: bold;
     margin-bottom: 7px;
 }
 .invest-con .per-description p:last-child{
     margin-top: 7px;
 }
 .invest-con .per-description p:last-child img{
     margin-right: 5px;
 }
 .invest-con .per-description p:nth-child(2) img{
     margin-right: 5px;
 }
 .invest-con .tag{
     margin-top: 10px;
 }
/*路演*/
.road{
    margin-top: 30px;
}
.road-list{
    padding:0 15px;
    background: #fff;
    width:270px;
    float: left;
}
.road-con .road-list img{
    width: 270px;
    height: 200px;
}
.road .road-tit{
    margin-top: 15px;
    margin-bottom: 15px;
}
.road .road-tit p:first-child{
    width:192px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    color: #555555;
}
.road .road-tit p:last-child{
    background: #efac56;
    color:#fff;
    padding:3px 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:60px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.road .road-des{
    width:270px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color:#555;
    font-size: 14px;
    padding-bottom:40px;
}
/*云导师*/
.teacher{
    margin-top: 30px;
    background: #fff;
    margin-bottom: 30px;
}
.teacher-titles{
    position:relative;
}
.teacher .teacher-titles .tea-tit{
    font-size: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
}
.teacher .tea-tit span:first-child {
    width: 5px;
    height: 24px;
    display: inline-block;
    background: #1eb3e6;
    margin-left: 20px;
    margin-right: 25px;
    position: absolute;
    top: 27px;
}
.teacher .tea-tit span:last-child{
    margin-left: 40px;
}
.teacher .chuang{
    margin-left: 40px;
    font-size: 16px;
    color:#555;
}
.teacher-img{
    margin-top: 27px;
}
.teacher .opone{
    width:468px;
    height:394px;
    margin-left: 215px;
    margin-right: 85px;
}
.teacher .chuang-img p:first-child{
    font-size: 28px;
    color:#635a59;
    margin-bottom:5px;
}
.teacher .chuang-img .solve{
    font-size: 28px;
    color:#a3a2a2;
    margin-bottom:20px;
}
.teacher .chuang-img .wei-img{
    margin-bottom: 10px;
}
.teacher .chuang-img .wei-img img{
    border:1px solid #e9e9e9;
    width: 200px;
    height: 200px;
}
.teacher .chuang-img .guan{
    font-size: 14px;
}
.teacher .chuang-img .guan span{
    color:#fc3e5d;
}
/*活动*/
.activity{
    background: #fff;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.activity .hot-titles{
    width:480px;
    border-bottom:1px solid #555;
    margin-top: 30px;
}
.activity .activity-con{
    width:480px;
    margin-top: 30px;
}
.activity .activity-news{
    margin-left:20px;
}
.activity .activity-con .activity-news a{
    display: block;
    line-height:45px;
    font-size: 16px;
    color: #555555;
}

 .activity-news a span:last-child{
     width:346px;
     white-space: nowrap;
     -ms-text-overflow: ellipsis;
     text-overflow: ellipsis;
     overflow: hidden;
     display: inline-block;
 }

.activity-news a .time{
    float: right;
}
/*活动沙龙中的轮播*/
.activity .activity-right{
    width:600px;
    overflow: hidden;
    text-align: center;
    margin-top: 115px;
    margin-left:70px;
}
.swiper-container1 {
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    position:relative;
}
.swiper-container1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container1 .swiper-slide img{
    width:280px;
    height:210px;
}
.swiper-button-next{
     background-image: url("../images/arrow-left.png");
    background-size: 18px 26px;
 }
.swiper-button-prev{
    background-image: url("../images/arrow-right.png");
    background-size: 18px 26px;
}
/*精选资讯*/
.choose-news{
    margin-bottom: 30px;
}
.new-left{
    width:560px;
    background: #fff;
}
.new-left img{
    width: 169px;
    height: 123px;
}
.new-left .new-des{
    width: 350px;
}
.new-left .new-lists .new-des{
    margin-left: 20px;
    color:#555;
}
.new-left .new-lists .new-title{
    color: #1eb3e6;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    width:340px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.new-left .lists-wrap{
    margin-left: 20px;
}
.new-left .lists-wrap .new-detail{
    line-height: 22px;
}
.new-left .lists-wrap  .new-time{
    position: absolute;
    bottom:10px;
}
.new-left .lists-wrap .new-read{
    border:1px solid #dbdbdb;
    padding: 7px 18px;
    background: #f4f4f4;
    display: block;
    position: absolute;
    bottom:7px;
    right:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.new-left .new-lists{
    margin-bottom: 20px;
    position: relative;
}
.new-right {
    width: 580px;
    background: #fff;
    padding-left: 40px;
    padding-right: 20px;
}
.new-right .title{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.new-right .title .active{
    color: #1eb3e6;
}
.new-right .title li{
    float: left;
    /*line-height: 60px;*/
    font-size: 20px;
    color: #000;
    margin:15px 15px 10px;
}
.hot-titles {
    height: 60px;
    background: #fff;
    line-height: 60px;
    position: relative;
}
.new-right img {
    width: 169px;
    height: 123px;
}
.new-right .new-lists .new-title {
    color: #1eb3e6;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}
.new-right .new-lists {
    margin-bottom: 20px;
    position: relative;
}
.new-left .new-lists .new-des {
    margin-left: 20px;
    color: #555;
}
.new-right .new-des {
    width: 350px;
    margin-left: 20px;
    color: #555;
}
.new-right .lists-wrap .new-detail {
    line-height: 22px;
}
.new-right .new-read {
    border: 1px solid #dbdbdb;
    padding: 7px 18px;
    background: #f4f4f4;
    display: block;
    position: absolute;
    bottom: 7px;
    right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.new-right .pro-item{
    padding-bottom: 6px;
}
.new-right .pro-item span{
    display: inline-block;
    font-size: 14px;
}
.new-right .pro-item a{
    font-size: 14px;
}
.new-right .pro-item  li{
    line-height: 34px;
    position:relative;
}
.new-right .pro-item span:first-child{
    width:6px;
    height: 6px;
    background:#1eb3e6;
    position: absolute;
    top:14px;
    left:0;
}
.new-right .pro-item .pro-center{
    margin-left: 15px;
    width:370px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.new-right .pro-item span:last-child{
    float: right;
}
.new-right .new-detail{
    line-height: 22px;
}
.new-right .problem-wrap .first{
    display: block;
}
.problem-wrap .problem-list{
    display: none;
}

/*数字分析*/
.big-number{
    background: #d8d8d8;
}
.lch-number {
    background: #d8d8d8;
    height: auto;
    width:1200px;
    margin:0 auto;
}
.wg1200 {
    width: 1200px;
}
.lch-cnumber .row div {
    width: 20%;
    float: left;
    background: #EFEFEF;
}
.row .rows div {
    color: #F49820;
    width: 100%;
    font-size: 30px;
}
.row .rows {
    width: 100%;
    height: auto;
    position: relative;
}
.row .rows div span {
    color: #999;
}
.lch-sup {
    position: absolute;
    top: 25px;
    right: 25%;
    color: #F39820;
}
.tc {
    text-align: center;
}
.f30 {
    font-size: 30px;
}
.pb20 {
    padding-bottom: 20px;
}
.pt20 {
    padding-top: 20px;
}
.row .color div {
    background: #d8d8d8;
    z-index: 1;
}
.row .rows div span {
    color: #999;
}
.f20 {
    font-size: 20px!important;
}
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
/*合作伙伴*/
.coor{
    background: #f8f8f8;
    margin:38px auto 0;
    width:1200px;
}
.coor .hot-titles{
    background:#f8f8f8;
    margin-bottom: 20px;
}
.coor-img a{
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
}
.coor-img a:nth-child(7n){
    margin-right: 0;
}
.coor-img a img{
    width:148px;
    height: 77px;
    border:1px solid #ddd;
}
/* select默认样式 */
select {
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
padding-right: 14px;
}
select::-ms-expand { display: none; }
.san{
    width:0;
    height:0;
    border-width: 5px;
    border-color:#000 transparent transparent transparent; 
    border-style: solid;
    position: absolute;
    left:52px;
    top:14px;
}
#search{
    position: relative;
}





